[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
boto3 = "*"
django-crispy-forms = "*"
django-cors-headers = "*"
requests = "*"
django-4-jet = "*"
google-api-python-client = "==1.4.1"
django-rest-swagger = "==2.2.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
